# Node modules
node_modules/

# Next.js build folder
.next/

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env
.env.local
.env.*.local

# pnpm lockfile (optional)
pnpm-lock.yaml
